<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Itamusic"
        tools:targetApi="31">
        <activity
            android:name=".ChatNotesActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KeyLessonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChordLessonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntervalLessonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoteLessonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrumsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuitarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatBotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChordTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KeyTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TunerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoteTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntervalTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PianoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>